@using LadyFirstShop.Data.Request;
@model OrderRequest
@{
    ViewData["Title"] = "Index";
    Layout = "/Views/Shared/_Layout.cshtml";
}
@section cart{
	<script src="/public/js/cart.js"></script>
	<script>
		var cartController = new CartController();
		cartController.initialize();
	</script>

}
<style>
	.shortName {
		text-align: left;
		margin-right: 0.5em;
		display: block;
		display: -webkit-box;
		font-size: 14px;
		line-height: 1.3;
		-webkit-line-clamp: 1;
		-webkit-box-orient: vertical;
		overflow: hidden;
		text-overflow: ellipsis;
	}
</style>
<section id="cart_items">
	<div class="container">
		<div class="breadcrumbs">
			<ol class="breadcrumb">
				<li><a href="/Home">Trang chủ</a></li>
				<li class="active">Giỏ hàng</li>
			</ol>
		</div>
		<div class="row" style="margin-top: -70px;">
			<div class="col-sm-8">
				<div class="table-responsive cart_info">
					<table class="table table-condensed" >
						<thead>
							<tr class="cart_menu">
								<td class="image">Ảnh</td>
								<td class="description">Sản phẩm</td>
								<td class="price">Giá</td>
								<td class="quantity">Số lượng</td>
								<td class="total">Thành tiền</td>
								<td>Xóa</td>
							</tr>
						</thead>
						<tbody id="cartBody">
						</tbody>
					</table>
					<h4 style="margin-left: 20px;">Tổng tiền: <span style="color: #FE980F; font-weight: bold;" id="totalPayment"></span><sup style="color: #FE980F; font-weight: bold;">đ</sup></h4>
				</div>

			</div>
			<div class="col-sm-4" style="margin-bottom: 20px;">
				<h4 style="text-align: center; background: #D2D9D7; padding: 10px 0px; margin-top: 1px; font-weight: bold;">ĐƠN HÀNG</h4>
				<div class="total_area">
					<form asp-controller="Cart" asp-action="Index" method="post">
						@Html.ValidationMessageFor(m => m.ShipName,"", new { @class = "text-danger" })
						<label>Khách hàng</label>
						<input type="text" class="form-control" name="shipName" value="@if(ViewBag.ShipName != null){@ViewBag.ShipName}" />
						@Html.ValidationMessageFor(m => m.ShipPhoneNumber,"", new { @class = "text-danger" })
						<label>Số điện thoại</label>
						<input type="text" class="form-control" name="shipPhoneNumber" value="@if(ViewBag.ShipPhoneNumber != null){@ViewBag.ShipPhoneNumber}" />
						@Html.ValidationMessageFor(m => m.ShipEmail,"", new { @class = "text-danger" })
						<label>Email</label>
						<input type="text" class="form-control" name="shipEmail" value="@if(ViewBag.ShipEmail != null){@ViewBag.ShipEmail}" />
						@Html.ValidationMessageFor(m => m.ShipAddress,"", new { @class = "text-danger" })
						<label>Địa chỉ nhận hàng</label>
						<input type="text" class="form-control" name="shipAddress" value="@if(ViewBag.ShipAddress != null){@ViewBag.ShipAddress}" />
						<br />
						<button type="submit" class="btn btn-success">ĐẶT HÀNG</button>
						<a class="btn btn-default" href="">TIẾP TỤC MUA SẮM</a>
					</form>
				</div>
			</div>
		</div>
	</div>
</section> <!--/#cart_items-->

